<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="postcodecheckout" translate="label" sortOrder="150">
            <label>Postcode Checkout</label>
        </tab>
        <section id="postcodecheckout_section" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>configureer je plugin</label>
            <tab>postcodecheckout</tab>
            <resource>Codebrainbv_PostcodeCheckout::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>instellingen postcode checkout</label>
                 <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable/Disable address validation</label>
                    <comment>Enable address lookup on the checkout and account pages</comment>
                    <source_model>Codebrainbv\PostcodeCheckout\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="20">
                    <label>API Key</label>
                </field>
                <field id="license_key" translate="label" type="text" sortOrder="30">
                    <label>License Key</label>
                </field>
                <field id="hide_address_fields" translate="label" type="select" sortOrder="40">
                    <label>Hide Address Fields</label>
                    <source_model>Codebrainbv\PostcodeCheckout\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="empty_default_address_fields" translate="label" type="select" sortOrder="50">
                    <label>Empty default address fields?</label>
                    <source_model>Codebrainbv\PostcodeCheckout\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="housenumber_addition_address2" translate="label" type="select" sortOrder="60">
                    <label>Housenumber and addition on address 2</label>
                    <source_model>Codebrainbv\PostcodeCheckout\Model\Config\Source\HousenumberAddition</source_model>
                </field>
                <field id="autocomplete_off" translate="label" type="select" sortOrder="70">
                    <label>Autocomplete off</label>
                    <source_model>Codebrainbv\PostcodeCheckout\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug_mode" translate="label comment" type="select" sortOrder="80">
                    <label>Debug mode</label>
                    <comment>Enable debug mode to get console logs in the frontend</comment>
                    <source_model>Codebrainbv\PostcodeCheckout\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="configured_provider" translate="label" type="text" sortOrder="90">
                    <label>Configured Provider</label>
                </field>
            </group>
        </section>
    </system>
</config>
